!!! 5
html(lang="es")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Certs
        
        //- Style
        link(rel="stylesheet" href="style.css")
    body
        .certs
            .container
                h2 Certificados
                p · 
                    span
                        a(href="https://www.freecodecamp.org/certification/elu/javascript-algorithms-and-data-structures" target="_blank") JavaScript, Algorithms and Data Structures
                p · 
                    span
                        a(href="https://www.udemy.com/certificate/UC-3A7BOEL9/" target="_blank") Master en PHP, SQL, Laravel, Symfony y WordPress
        footer Edgar Lugo <br> &copy; Copyright <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.