!!! 5
html(lang="es")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Website
        
        //- Style
        link(rel="stylesheet" href="style.css")
        
        //- Font Awesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        .landing
            img(src="assets/Logo ELU.webp" alias="logo").logo
            ul
                li
                    a(href="#about-me") Sobre Mi
                li
                    a(href="#projects") Proyectos
                li
                    a(href="#contact") Contacto
        
        .about-section
            .about-me#about-me
                .container
                    h2 Sobre Mi
                    ul
                        li
                            img(src="assets/profile.webp")
                            h3 Edgar Lugo
                        li
                            p <span>Full Stack Developer</span> | <span>SEO</span>
                            p HTML/CSS, JS, Python, PHP, <br> MySQL, Laravel, Wordpress
                            p Amante de la tecnología y de solucionar problemas | <script>document.write(Math.floor((new Date() - new Date('July, 8, 1999'))/31_557_600_000))</script> años
                            p Ingeniería de Computación
                            p Universidad José Antonio Páez, Venezuela (2016 - inconcluso)
        .projects#projects
            .container
                h2 Proyectos
                .project-grid
                    section
                        a(href="https://glitch.com/~hypercube" target="_blank").project
                            iframe(loading="lazy" src="https://hypercube.glitch.me/")
                            header Hipercubo (malla)
                            label Representación ortográfica de cubo 4D, JavaScript
                    section
                        a(href="https://github.com/EDDxample/4D-Polytope-Visualizer__Processing" target="_blank").project
                            iframe(loading="lazy" src="https://giphy.com/embed/h7zvyLeDTOBaE1IOEp")
                            header Hipercubo (Intersección)
                            label Intersección de cubo 4D en un mundo 3D, JavaScript
                    section
                        a(href="https://glitch.com/~hypercube" target="_blank").project
                            iframe(loading="lazy" src="https://hypercube.glitch.me/")
                            header Hipercubo (malla)
                            label Representación ortográfica de cubo 4D, JavaScript
        .contact#contact
            .container
                h2 Contacto
                p email: 
                    span elu.developer@gmail.com
                p telfefono: 
                    span XXX-XX-XX-XX
                p github: 
                    span
                        a(href="https://github.com/elu-dev" target="_blank") github.com/elu-dev
                p glitch: 
                    span
                        a(href="https://glitch.com/@elu-dev" target="_blank") glitch.com/@elu-dev
            footer Edgar Lugo <br> &copy; Copyright <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.