!!! 5
html(lang="es")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Website
        
        //- Style
        link(rel="stylesheet" href="../style.css")
        
        //- Font Awesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        .landing
            img(src="../assets/Logo ELU.webp" alias="logo").logo
            ul
                li
                    a(href="#about-me") About Me
                li
                    a(href="#projects") Projects
                li
                    a(href="#") Contact
        
        .about-section
            .about-me#about-me
                .container
                    h2 About Me
                    ul
                        li
                            img(src="../assets/profile.webp")
                            h3 Edgar Lugo
                        li
                            p <span>Full Stack Developer</span> | <span>SEO</span>
                            p HTML/CSS, JS, Python y PHP
                            p Tech enthusiast | <script>document.write(Math.floor((new Date() - new Date('July, 8, 1999'))/31_557_600_000))</script> years old
                            p Computer Engineering
                            p Universidad José Antonio Páez, Venezuela (2016 - unfinished)
        .projects#projects
            .container
                h2 Projects
                .project-grid
                    section
                        a(href="https://glitch.com/~hypercube" target="_blank").project
                            iframe(loading="lazy" src="https://hypercube.glitch.me/").interactive
                            header Hypercube (mesh)
                            label Orthographic render of a 4D cube, JavaScript
                    section
                        a(href="https://glitch.com/~hypercube" target="_blank").project
                            iframe(loading="lazy" src="https://hypercube.glitch.me/").interactive
                            header Hypercube (mesh)
                            label Orthographic render of a 4D cube, JavaScript