!!! 5
html(lang="es")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Website
        
        //- Style
        link(rel="stylesheet" href="../style.css")
        //- Font Awesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        .landing
            img(src="../assets/Logo ELU.png" alias="logo").logo
            ul
                li
                    a(href="#about-me") About Me
                li
                    a(href="#projects") Projects
                li
                    a(href="#") Contact
        
        .about-section
            .about-me#about-me
                .container
                    h2 About Me
                    ul
                        li
                            img(src="../assets/profile.png")
                            h3 Edgar Lugo
                        li
                            p <span>Full Stack Developer</span> | Amante de la tecnología | <script>document.write(Math.floor((new Date() - new Date('July, 8, 1999'))/31_557_600_000))</script> años
                            p Ingeniería de Computación
                            p Universidad José Antonio Páez, Venezuela (2016 - x)
        .projects#projects
            .container
                h2 Projects
                .project-grid
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth wA simple sine wave synth wA simple sine wave synth wA simple sine wave synth wA simple sine wave synth w
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-waveform.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.
                    section
                        a(href="#" target="_blank").project
                            iframe(loading="lazy" src="https://tone-example-tap.glitch.me").interactive
                            header synth
                            label A simple sine wave synth with modular frequency.