
.anim-container { display: inline-block }

.typewriter {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;

    margin: 0 auto;
    -webkit-animation: 
        typing 3s steps(30, end) 0.6s forwards,
        cursor-blink .75s step-end 3.6s infinite;
            animation: 
        typing 3s steps(30, end) 0.6s forwards,
        cursor-blink .75s step-end 3.6s infinite;
}


@-webkit-keyframes typing {
    from { border-color: white; width: 0 }
    to { border-color: white; width: 100% }
}


@keyframes typing {
    from { border-color: white; width: 0 }
    to { border-color: white; width: 100% }
}
@-webkit-keyframes cursor-blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
@keyframes cursor-blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}


.show-up {
    position: relative;
    -webkit-animation: showUp ease 0.8s forwards;
            animation: showUp ease 0.8s forwards;
}

.show-up-slower {
    position: relative;
    -webkit-animation: showUp ease 1s forwards;
            animation: showUp ease 1s forwards;
}

@-webkit-keyframes showUp {
    0% { opacity:0; top: 20px }
    100% { opacity:1; top: 0 }
}

@keyframes showUp {
    0% { opacity:0; top: 20px }
    100% { opacity:1; top: 0 }
}

.fade-in { -webkit-animation: fadeIn ease 1s forwards; animation: fadeIn ease 1s forwards }
.fade-in-slower {
    opacity: 0;
    -webkit-animation: fadeIn ease 1s 0.3s forwards;
            animation: fadeIn ease 1s 0.3s forwards;
}
@-webkit-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}
@keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}


@-webkit-keyframes hvr-wobble-vertical {
    16.65% { -webkit-transform: translateY(8px); transform: translateY(8px) }
    33.3% { -webkit-transform: translateY(-6px); transform: translateY(-6px) }
    49.95% { -webkit-transform: translateY(4px); transform: translateY(4px) }
    66.6% { -webkit-transform: translateY(-2px); transform: translateY(-2px) }
    83.25% { -webkit-transform: translateY(1px); transform: translateY(1px) }
    100% { -webkit-transform: translateY(0); transform: translateY(0) }
}


@keyframes hvr-wobble-vertical {
    16.65% { -webkit-transform: translateY(8px); transform: translateY(8px) }
    33.3% { -webkit-transform: translateY(-6px); transform: translateY(-6px) }
    49.95% { -webkit-transform: translateY(4px); transform: translateY(4px) }
    66.6% { -webkit-transform: translateY(-2px); transform: translateY(-2px) }
    83.25% { -webkit-transform: translateY(1px); transform: translateY(1px) }
    100% { -webkit-transform: translateY(0); transform: translateY(0) }
}
.hvr {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr:hover, .hvr:focus, .hvr:active {
    -webkit-animation-name: hvr-wobble-vertical;
            animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}