
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* ************************ */

html {
    font-size: 20px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 26px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}    

.container {
    height: 80vh;
    width: 100vw;
    background: #f5f5f5;
    position: absolute;
    z-index: -2;
    padding-top: 20vh;
}

.center-text {
    max-width: 600px;
    width: 90vw;
    height: 250px;
    /* background: yellow; */
    margin: 0 auto;
    text-align: center;
}

.center-text > h1 {
    font-weight: lighter;
    letter-spacing: .3em;
    padding-left: .3em;
    font-size: 2.5em;
    margin-bottom: 0;

    position: relative;
    z-index: -2;

    text-shadow: 10px 10px 2px #e5e5e5;
}

.center-text > h2 {
    font-weight: lighter;
    letter-spacing: .3em;
    padding-left: .3em;
    font-size: 1em;
    margin-bottom: 20px;

    position: relative;
    z-index: -2;
}

.lango {
    display: block;
    text-decoration: none;
    color: rgb(106, 102, 110);
    margin-bottom: 30px;
}

.lango:hover {
    color: rgb(153, 152, 153);
}

.gradient-bg {
    background-image: -webkit-linear-gradient(left, #330283, #ff0059);
    margin: 0 auto;
    padding: .1em;
    width: 5.5em;
}

.white-bg {
    background-color: #f5f5f5;
    transition: background-color .4s ease;
}

.white-bg:hover {
    background-color: #fff0;
    cursor: pointer;
    transition: background-color .4s ease;
}

.white-bg > h3 {
    font-weight: lighter;
    color: #f5f5f5;
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(left, #330283, #ff0059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transition: -webkit-text-fill-color .4s ease;
}

.white-bg > h3:hover {
    -webkit-text-fill-color: white;
}

.show {
    opacity: 1;
    top: 15vh;

    transition-property: top, opacity;
    transition-timing-function: ease;
    transition-duration: .5s;
}

.hide {
    z-index: -2;
    opacity: 0;
    top: 20vh;

    transition-property: top, opacity;
    transition-timing-function: ease;
    transition-duration: .5s;
}

main {
    background-color: #fff;
    box-shadow: 0 0 30px #ccc;
    border: 3px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    
    margin: 0 auto;

    max-width: 800px;
    width: 90vw;
    height: 450px;

    position: absolute;
    left: 0;
    right: 0;
    /* top: 20vh; */
}

.card-title {
    background-image: -webkit-linear-gradient(left, #330283, #ff0059);
    padding: 20px 0;
    height: 2.5em;
}
.slider > h1 {
    /* background-image: -webkit-linear-gradient(left, #330283, #ff0059); */
    text-align: center;
    margin: 0;
    color: white;
    width: 100%;
}

.main-content {
    padding: 25px;
    height: 58%;
}

.main-content h2 {
    margin: 0;
}

.main-footer {
    padding: 0 40px;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #aaa;
}

.main-footer li:hover {
    cursor: pointer;
}

.main-footer li:nth-child(1):hover {
    color: #330283; 
}
.main-footer li:nth-child(2):hover {
    color: #98006e; 
}
.main-footer li:nth-child(3):hover {
    color: #ff0059; 
}

/* SLIDER ****************************** */

.slider-content {
    padding: 0 20px;
    height: 90%;
    width: calc(100% - 40px);
    overflow-y: scroll;
    
    font-size: .87em;
}

.slider {
    position: relative;
    /* overflow: hidden; */
}

.slider-left { left: -50px; }
.slider-right { left: 50px; }

.slider-show {
    visibility: visible;
    position: absolute;
    opacity: 1;
    left: 0;
    transition-property: left, opacity;
    transition: .5s ease;
}

.slider-hide {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition-property: left, opacity;
    transition: .5s ease;
}

/* PROJECTS ****************************** */

.project {
    margin-bottom: 30px;
}

.project p {
    margin: .2em 0;
}

.project p a {
    color: #666;
}

.project .tag {
    background-image: -webkit-linear-gradient(left, #330283, #ff0059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    margin-right: .5em;
    font-size: .8em;
}

#contact .link {
    background-image: -webkit-linear-gradient(left, #330283, #ff0059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-decoration: none; */
}

#contact p {
    margin-left: 1em;
    white-space: nowrap;
    overflow-x: hidden;
}